.image-description {
    color: gray;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: fit-content;
}

.image-row-plants{
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin: 20px auto;
    width: 45%;
}

.image-row {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin: 20px auto;
    width: 45%;
}