.image-description {
    color: gray;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.image-row{
    display: flex;
    justify-content: center;
    gap: 2px; 
    margin: 5px auto;
}

.image-row img {
    height: auto;
    display: block;
}

.small-img {
    width: 35%;
}

.large-img {
    width: 60%;
}

table, th, td {
  text-align: center;
  border: 1px solid #000;
  border-collapse: collapse;
  text-align: center;
  padding: 8px;
}